@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700');
* {
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(#);
}





.topper{
    background-color: #212121;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}

.cam{
    color: red;
}

.logo{
    position: fixed;
    left: 0px top 0px;
   position: fixed;
   left: 23px;
   font-family: copper black;
   font-size: 25px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
    
}

.nav li a{
    text-decoration: none;
    color: #edf2fc;
}

.nav li a :hover{
    color: #000000;
    font-weight: 200;
}

.nav :hover{
    color: black;
    font-weight: 500;
}

.social{
    color: #edf2fc;
    position: fixed;
    right: 18px;
}


.bi-camera::before {
    content: "\f220";
}

#icon {
    width: 30px;
    cursor: pointer;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.c-item{
    height: 480px;
}

.c-slid{
    margin-top: 80px;
}

.m-cover{
    background: #3333;
    font-family: 'poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.cover{
    width: 900px;
    height: 400px;
    /* background: #000; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    
}

.box{
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    
}

.box img{
    border-top-left-radius: 30px;      
    border-top-right-radius: 30px;      
}

.mid{
    background-image: url(assets/img/camera-photography-lens-black-zoom-canon-product-black-background-wallpaper-preview.jpg);
    background-position: center;
    color: white;
    font-size: 80px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    height: 500px;
    width: 100%;
}

.mid-tex{
    padding-top: 230px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    
}

.site{
    padding-top: 50px;
    padding-left: 100px;
    background-color: #edf2fc;
    height: 200px;
    width: 100%;
    border-radius: 30px;
}

.site img{
    height: 140px;
    width: 160px;
    border-radius: 20px;
}




